<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>header}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/download123.png" alt="" class="img-fluid" title="umang patel">
                        </figure>
                        <p>Welcome to Weather Web</p>
                        <h1>{{errormeg}}</h1>
                        <a href="/" target="_blank"><button>GO BACK</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>