<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>header}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/dow.jpg" alt="" class="img-fluid" title="umang patel">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather Web</p>
                        <h1>I Am A <span class="text_clr"> Mern Stack Developer </span> A Freelancer</h1>
                        <a href="https://www.youtube.com/@umangpatel5751" target="_blank"><button>ABOUT ME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>