<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
        {{>header}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityname" placeholder="Enter the city name" autocomplete="off">
                    <input type="submit" value="Search" id="submitbtn">
                </form>
               </div>
               <div class="tempinformation">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_data">13 OCT</p>
                                    </div>
                    <div class="main_layer ">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="tempreal_val">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="js/main.js"></script>
    <script>
           const getCurrentDay = () => {
            let weakday = Array(7);
            weakday[0] = "Sunday";
            weakday[1] = "Monday";
            weakday[2] = "Tuesday";
            weakday[3] = "Wednesday";
            weakday[4] = "Thursday";
            weakday[5] = "Friday";
            weakday[6] = "Saturday";

            let curentTime = new Date();
            let days = (weakday[curentTime.getDay()]);
        const day = document.getElementById('day');
            day.innerText= days;
        };
        const getCurrentTime = ()=>{
            const now = new Date();
            var months = [
                'JAN',
                'FEB',
                'MAR',
                'APR',
                'MAY',
                'JUNE',
                'JUL',
                'AUG',
                'SEPT',
                'OCT',
                'NOV',
                'DES',
            ]
            var month = months[now.getMonth()];
            var date = now.getDate();
            const todaydate = document.getElementById('today_data');
            todaydate.innerText = `${date} ${month}`;  
            };    
        getCurrentDay();
        getCurrentTime();
    </script>
</body>

</html>